/********************************************
********** ~CREATED BY WILL MEIER ***********
*************  @ AGENCY ZERO ~ **************
*********************************************
*********************************************
CONTENTS:************************************
---------------------- **********************
~IMPORTS~ ************ **********************
~VARIABLES~ ********** **********************
~MIXINS~ ************* **********************
~NAV~ **************** **********************
~HOME~ *************** **********************
~BRANDING~ *********** **********************
~MEDIA QUERIES~ ****** **********************
---------------------- **********************
********************************************/

/********************************************
***************** ~IMPORTS~ *****************
********************************************/
@import "~normalize.css/normalize.css";
@import "~loaders.css/loaders.css";
@import "_base/animations";
@import "_base/_base";
@import "_base/_colors";
@import "_base/_easings";
@import "_fonts/_fonts";
@import "_fonts/_type";


/********************************************
**************** ~VARIABLES~ ****************
********************************************/

/********************************************
****************** MIXINS *******************
********************************************/
// @mixin prefix($declarations, $prefixes: ()) {
//   @each $property, $value in $declarations {
//     @each $prefix in $prefixes {
//       #{'-' + $prefix + '-' + $property}: $value;
//     }
//     #{$property}: $value;
//   }
// }

/********************************************
****************** ~NAV~ ********************
********************************************/
.header {}
.footer{}

/********************************************
****************** ~HOME~ *******************
********************************************/
.home{}

/********************************************
***************** ~LOADERS~ *****************
********************************************/
.loader-wrapper{
  width:100vw; height:100vh;
  display:flex; justify-content:center; align-items:center;
}
.loader-hidden {display:none;}
.loader-active {
  display:block;
  .loader-inner div{ background-color:$color-AZ-red; }
}

/********************************************
**************** ~BRANDING~ *****************
********************************************/
.az-logo-01{
  .cls-1{ fill:none; }
  .cls-2{ fill:$color-AZ-red; }
}
.az-logo-02{
  .cls-1{ fill:$color-AZ-red }
  .cls-2{ fill:none; }
  .cls-3{ fill: #fff; }
  .cls-4{ fill: #231f20;}
}

/********************************************
************* ~MEDIA QUERIES~ ***************
********************************************/
@media screen and (min-width:981px){}
@media screen and (min-width:671px) and (max-width:980px){}
@media screen and (min-width:415px) and (max-width:670px){}
@media screen and (max-width:414px){}
